@use "sass:math";

.spirograph {
  width: 20%;
  height: 20%;
}

.a {
  position: absolute;
  inset: 0;
}

.b {
  position: absolute;
  top: -320%;
  left: 0;
  width: 310%;
  height: 200%;
  border: 1px solid transparent;
  border-top-color: #0ff;
  border-left-color: #0ff;
  transform: rotate(-49deg);
}

.button {
  &:hover {
    color: #0ff;
  }

  &:active {
    color: #0bb;
  }
}

// a rotation
@for $i from 1 through 127 {
  $rotation: math.div(360deg, 128) * $i;

  .a:nth-child(#{$i + 1}) {
    transform: rotate($rotation);
  }
}
