@use "sass:math";

.spirograph {
  width: 20%;
  height: 20%;
}

.a {
  position: absolute;
  inset: 0;
}

.b {
  position: absolute;
  top: -85%;
  left: 65%;
  width: 50%;
  height: 5%;
  border-left: 1px solid #0ff;
  border-bottom: 1px solid #0ff;
  transform: rotate(-45deg);

  &:before, &:after {
    content: '';
    position: absolute;
    height: 1250%;
    border-top: 1px solid #0ff;
    border-left: 1px solid #0ff;
  }

  &:before {
    bottom: -1px;
    left: 100%;
    width: 100%;
  }

  &:after {
    bottom: calc(1250% - 2px);
    left: 200%;
    width: 215%;
  }
}

.button {
  &:hover {
    color: #0ff;
  }

  &:active {
    color: #0bb;
  }
}

// a rotation
@for $i from 1 through 127 {
  $rotation: math.div(360deg, 128) * $i;

  .a:nth-child(#{$i + 1}) {
    transform: rotate($rotation);
  }
}
