@use "sass:math";

.spirograph {
  width: 45%;
  height: 45%;
}

.a, .b {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.a {
  transform: translate(-50%, -50%) rotate(22.5deg);
  & + .a {
    transform: translate(-50%, -50%) rotate(67.5deg);
  }
}

.b {
  border: 1px solid #ff0;
  transform: translate(-50%, -50%);
}

.button {
  &:hover {
    color: #ff0;
  }

  &:active {
    color: #bb0;
  }
}

$scale: 1;

@for $i from 1 through 31 {
  $rotation: math.div(64deg, 32) * $i;
  $scale: math.cos($rotation) + math.sin($rotation) * $scale;

  .b:nth-child(#{$i + 1}) {
    width: 100% * $scale;
    height: 100% * $scale;
    transform: translate(-50%, -50%) rotate($rotation);
  }
}
